@import "tailwindcss";

@font-face {
  font-family: "GiantsInline";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Inline.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}

/* Paperlogy - Thin */
@font-face {
  font-family: "Paperlogy";
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-1Thin.woff2")
    format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* Paperlogy - ExtraLight */
@font-face {
  font-family: "Paperlogy";
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-2ExtraLight.woff2")
    format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* Paperlogy - Light */
@font-face {
  font-family: "Paperlogy";
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-3Light.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Paperlogy - Regular */
@font-face {
  font-family: "Paperlogy";
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-4Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Paperlogy-  Medium */
@font-face {
  font-family: "Paperlogy";
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-5Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Paperlogy - SemiBold */
@font-face {
  font-family: "Paperlogy";
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-6SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Paperlogy - Bold */
@font-face {
  font-family: "Paperlogy";
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-7Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Paperlogy - ExtraBold */
@font-face {
  font-family: "Paperlogy";
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-8ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Paperlogy - Black */
@font-face {
  font-family: "Paperlogy";
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-9Black.woff2")
    format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cafe24ProUp";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2507-1@1.0/Cafe24PROUP.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "DXMovie";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102@1.0/DXMoviePoster.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  /* Main */
  --color-main-blue: #97c1ff;
  --color-main-white: #ffffff;

  /* Sub */
  --color-sub-deepblue: #4da6ff;
  --color-sub-lightblue: #c6ddff;
  --color-sub-pink: #ffb3c7;
  --color-sub-green: #cde9b1;
  --color-sub-violet: #cab6ff;
  --color-sub-coral: #ff7f50;
  --color-sub-gray: #999999;
  --color-sub-darkgray: #888888;
  --color-sub-lightgray: #d9d9d9;

  /* Text */
  --color-text-primary: #1e293b;
  --color-text-heading: #0f172a;

  /* System */
  --color-system-whitebg: rgba(255, 255, 255, 0.4);
  --color-system-blackbg: rgba(0, 0, 0, 0.4);
  --color-system-navbg: #ecf5ff;
  --color-system-scroll: #d5e6ff;
  --color-system-searchbg: #f2f5fa;

  /* Category */
  --color-category-sea: rgba(151, 193, 255, 0.5);
  --color-category-nature: rgba(205, 233, 177, 0.65);
  --color-category-culture: rgba(255, 179, 199, 0.5);
  --color-category-experience: rgba(202, 182, 255, 0.5);

  /* Spacing */
  --spacing-screen-x: 24px;
  --spacing-card-inner: 18px;
  --font-giants: "GiantsInline", sans-serif;
  --font-paperlogy: "Paperlogy", sans-serif;
  --font-ssurround: "Cafe24Ssurround", sans-serif;
  --font-proup: "Cafe24ProUp", sans-serif;
  --font-dxmovie: "DXMovie", sans-serif;
}

html,
body {
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}

body {
  background: var(--color-main-white);
  color: var(--color-text-primary);
  font-family: "Paperlogy", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}
